.idea

# webapp ignores
.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

lib/*
*.iml
bower_components
.idea

npm-debug.log

node_modules/**/*
test/coverage/**/*
test/coverage/*

target

build
!build/update.sh

app/libs
dist
libs
